#NavBar {
    padding: 4px;
    background-color: rgb(31 41 55);
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#NavBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#NavBar li {
    padding: 5px;
    list-style-type: none;
}

#NavBar li a {
    color: white;
    text-decoration: none;
}

#NavBar li a:hover {
    color: rgb(156 163 175);
}

.active {
    font-weight: bold;
}

#Spacer {
    width: 100%;
    height: 95px;
}