#ArticleArea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

#ArticleArea article {
    margin: 10px;
    padding: 20px;
    max-width: 30%;
}

#ArticleArea article img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

#ArticleArea article h3 {
    font-size: 24px;
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    margin: 10px;
}

.Categories {
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

.Categories li {
    list-style-type: none;
    color: blue;
    font-weight: bold;
    font-weight: 20px;
}

button {
    font-family: "Baloo Paaji 2", sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    #ArticleArea {
        flex-direction: column;
        align-items: center;
    }

    #ArticleArea article {
        margin: 10px;
        padding: 20px;
        max-width: 60%;
    }
}