#NavBar {
    padding: 0;
    background-color: var(--Albany-Blue);
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    left: 0;
    top: 0;
}

.active {
    font-weight: bold;
}

#NavBar-Title {
    color: white;
    margin: 0px;
    padding: 0px;
}

#Nav-Image {
    width: 25%;
}

#NavBar-Remainder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    color: white;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

#NavBar-Sub {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
}

#NavBar-Links {
    height: 50%;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    vertical-align: bottom;
    display: flex;
    align-content: flex-start;
}

li {
    display: inline-block;
    margin-top: auto;
    padding: 10px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

li a:hover {
    color:rgb(180, 180, 230)
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: 100%;
}

@media (max-width: 768px) {
    #NavBar {
        display: block;
    }
    #NavBar-Remainder {
        width: 100%;
    }
    #NavBar-Title {
        font-size: 2.5em;
        padding: 6px;
    }
    #NavBar-Sub {
        font-size: 1.6em;
    }
    img {
        width: 75vw;
    }
    #Nav-Image {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #NavBar-Title {
        font-size: 2.5em;
        padding: 6px;
    }
}