* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: "Playfair Display", sans-serif;
    display: flex;
    width: 100vw;
    background-color: var(--Albany-Blue);
    color: white;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    box-shadow: 0 4px 40px -2px rgba(0, 0, 0, .5);
}

.navbar-left {
    flex: 0 0 30%;
}

.logo {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    text-align: center;
}

.navbar-text {
    margin-bottom: 10px;
}

.title {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1rem;
    color: #ccc;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.nav-links ul {
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a:hover {
    color: rgb(142, 148, 204);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left,
    .navbar-right {
        width: 100%;
        padding: 10px 0;
    }

    .navbar-right {
        padding-left: 0;
    }

    .navbar-text {
        margin-bottom: 5px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}