#main-content p {
    font-size: 24px;
    margin: 25px;
}

h1 {
    font-size: 42px;
    margin: 0;
}

figure+p {
    text-align: center;
    margin-top: 0;
}

figure {
    text-align: center;
}

figure img {
    display: inline-block;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 100%;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

section {
    margin-top: 32px;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#main-content {
    width: 75%;
}

#title-date-image {
    margin-left: 60px;
}

#main-content img {
    max-width: 100%;
    max-height: 100%;
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ad-section {
    width: 25%;
}

#date {
    margin: 0 auto;
}

#author {
    margin: 0 auto;
}

#main-blurb-paragraphs p:last-of-type {
    margin-bottom: 100px;
    display: none;
}

#TaxMessage {
    background-color: green;
    border: 12px ridge rgb(4, 84, 4);
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 35vw;
}

#TaxMessage img {
    max-width: 10vw;
}

#TaxMessage hr {
    background-color: rgb(4, 84, 4);
    height: 4px;
    border: 1px solid rgb(3, 40, 3);
    border-radius: 2px;
}

#main-blurb-paragraphs {
    margin-left: 60px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    #ad-section {
        display: none;
    }

    #main-content {
        width: 100%;
        margin-right: 60px;
    }

    #main-content p {
        font-size: 18px;
    }

    #main-content img {
        max-width: 100%;
        max-height: 100%;
        width: 75vw;
    }

    #TaxMessage {
        width: 60%;
        margin: 0 auto;
    }

    #TaxMessage img {
        max-width: 15vw;
    }

    #TaxMessage p {
        font-size: 10px;
    }

    #main-blurb-paragraphs {
        margin: 10px;
    }

    #title-date-image {
        margin: 10px;
        text-align: center;
    }

    #TaxMessage hr {
        background-color: rgb(4, 84, 4);
        height: 4px;
        border: 1px solid rgb(3, 40, 3);
        border-radius: 2px;
    }
}